/Antoinequiz1.py
/antoine_quiz.py
/daily coding challenges
/Objective1.py
/Objective10
/Objective2.py
/Objective3.py
/Objective4.py
/Objective5.py
/Objective6.py
/Objective7.py
/Objective8
/Objective9
/quotes.txt
/sftp.json
/TEST.py
/TEST2.py